table.microblog {
  width: "100%"
  padding: 4px
  cell-padding: 10px
}

td.mb-title {
  background-color: #008dad;
  color: #dfdfdf;
  font-family: arial;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  padding: 10px;
    width: 100%;
}

td.mb-entry {
  background-color: #efefef;
  color: #000000;
  font-family: arial;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  padding: 10px;
    width: 100%;

}

div.feed {
    width: 80%;
    align: center;
    margin: auto;
    text-align: left;
    padding: 0.75em 1em 0.75em 1em;
}

/* Form */

  form label {
    display: block;
    text-align: left;
    margin-bottom: 0.5em;
  }

  form input[type="text"],
  form select,
  form textarea {
    position: relative;
    -webkit-appearance: none;
    display: block;
    border: 0;
    outline: 0;
    background: #fff;
    background: rgba(255, 255, 255, 0.75);
    width: 100%;
    border-radius: 0.35em;
    padding: 0.75em 1em 0.75em 1em;
    box-shadow: inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.05);
    border: solid 1px rgba(0, 0, 0, 0.15);
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
  }

    form input[type="text"]:focus,
    form select:focus,
    form textarea:focus {
      box-shadow: 0 0 2px 1px #8ebebc;
      background: #fff;
    }

  form input[type="text"],
  form select {
    line-height: 1.25em;
  }

  form textarea {
    min-height: 14em;
  }

  form .formerize-placeholder {
    color: #555 !important;
  }

  form ::-webkit-input-placeholder {
    color: #555 !important;
  }

  form :-moz-placeholder {
    color: #555 !important;
  }

  form ::-moz-placeholder {
    color: #555 !important;
  }

  form :-ms-input-placeholder {
    color: #555 !important;
  }

  form ::-moz-focus-inner {
    border: 0;
  }

